<h1>Welcome to Coder Cafe!</h1>

<% @message.each do |x|%>
<p><%= x**2 %></p>
<% end %>
<table class="table table-striped">
  <tr>
    <th>Item</th>
    <th>Price</th>
  </tr>
  <tr>
    <td>Latte</td>
    <td>$4.00</td>
  </tr>
  <tr>
    <td>Scone</td>
    <td>$5.00</td>
  </tr>
  <tr>
    <td>Tea</td>
    <td>$3.00</td>
  </tr>
</table>
